canvas {
	border: 2px solid black;
	background-color: black;
}
video {
	display: none;
}
.container {
    position: relative;
}
 
#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}